In [ ]:
import pandas as pd
#실제 침수 사건 데이터(전체)
actual_flood_events_2022_2024_data = pd.read_csv('C:/ai_x/source/Project/3_FLOOD_EVENTS/actual_flood_events_2022_2024.csv')
print('컬럼 수 :', len(actual_flood_events_2022_2024_data.columns))
actual_flood_events_2022_2024_data.head()

컬럼 수 : 9

,id,district,flood_date,severity,precipitation_24h,precipitation_1h_max,description,source,created_at
0,1,강남구,2022-08-08,4,381.5,91.8,강남역 일대 대침수,뉴스_공공데이터_실제사건,2025-06-30 14:50:59
1,2,영등포구,2022-08-09,3,295.2,54.3,여의도 침수,뉴스_공공데이터_실제사건,2025-06-30 14:50:59
2,3,강서구,2023-07-15,2,89.5,32.1,김포공항로 침수,뉴스_공공데이터_실제사건,2025-06-30 14:50:59
3,4,은평구,2023-08-10,2,142.3,45.6,불광동 침수,뉴스_공공데이터_실제사건,2025-06-30 14:50:59
4,5,중랑구,2024-06-28,2,67.2,23.1,상봉동 침수,뉴스_공공데이터_실제사건,2025-06-30 14:50:59

In [ ]:
actual_flood_events_2022_2024_data.isna().sum() #결측치 없음

id                      0
district                0
flood_date              0
severity                0
precipitation_24h       0
precipitation_1h_max    0
description             0
source                  0
created_at              0
dtype: int64

In [ ]:
#구별 사건 발생수
flood_count_by_district_data = pd.read_csv('C:/ai_x/source/Project/3_FLOOD_EVENTS/flood_count_by_district.csv')
print('컬럼 수 :', len(flood_count_by_district_data.columns))
flood_count_by_district_data.head()

컬럼 수 : 2

  district  flood_count
0      강남구            1
1      강서구            1
2      광진구            1
3      도봉구            1
4      성북구            1

In [ ]:
flood_count_by_district_data.isna().sum() #결측치 없음

district       0
flood_count    0
dtype: int64

In [5]:
flood_count_by_district_data.value_counts

<bound method DataFrame.value_counts of   district  flood_count
0      강남구            1
1      강서구            1
2      광진구            1
3      도봉구            1
4      성북구            1
5      송파구            1
6     영등포구            1
7      은평구            1
8      중랑구            1>