In [3]:
import pandas as pd
#3년 전체 데이터(933개)
ml_complete_dataset_data = pd.read_csv('C:/ai_x/source/Project/4_ML_READY/ML_COMPLETE_DATASET.csv')
print('컬럼 수 :',len(ml_complete_dataset_data.columns))
ml_complete_dataset_data.head()

컬럼 수 : 24

,id,year,month,day,obs_date,season_type,avg_temp,min_temp,max_temp,humidity,...,actual_flood,is_peak_rainy,is_typhoon_season,is_early_rainy,precip_risk_level,precip_ma3,humidity_ma3,precip_ma7,humidity_ma7,rain_days_cumsum
0,152,2022,1,1,2022-01-01,dry,-4.3,-10.2,2.3,46.3,...,0,0,0,0,0,0.00,46.300000,0.000,46.300000,0
1,153,2022,1,2,2022-01-02,dry,-1.3,-5.2,3.0,57.9,...,0,0,0,0,0,0.15,52.100000,0.150,52.100000,0
2,154,2022,1,3,2022-01-03,dry,-1.9,-8.0,2.5,58.3,...,0,0,0,0,0,0.10,54.166667,0.100,54.166667,0
3,155,2022,1,4,2022-01-04,dry,-2.5,-5.6,1.0,51.8,...,0,0,0,0,0,0.10,56.000000,0.075,53.575000,0
4,156,2022,1,5,2022-01-05,dry,-2.8,-7.8,1.9,47.6,...,0,0,0,0,0,0.00,52.566667,0.060,52.380000,0

In [4]:
ml_complete_dataset_data.isna().sum()

id                   0
year                 0
month                0
day                  0
obs_date             0
season_type          0
avg_temp             0
min_temp             1
max_temp             0
humidity             0
precipitation        0
wind_speed           2
is_flood_risk        0
created_at           0
actual_flood         0
is_peak_rainy        0
is_typhoon_season    0
is_early_rainy       0
precip_risk_level    0
precip_ma3           0
humidity_ma3         0
precip_ma7           0
humidity_ma7         0
rain_days_cumsum     0
dtype: int64